<!DOCTYPE html>
<html lang="no">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>@ViewBag.Org- @ViewBag.App</title>

  <style>
    html, body {
      height: 100%;
    }
  </style>
</head>
<body>
  <iframe id="app" src="/designer/html/app.html" style="width: 60%; height: 100%;"></iframe>
</body>
</html>
